{% extends 'base.html.twig' %}

{% block title %}Edition du profil{% endblock %}

{% block body %}
<h1>Edition de votre profil</h1>
{{ form_errors(form)}}
{{ form_start(form)}}
{{ form_row(form.firstname)}}
{{ form_row(form.lastname)}}
{{ form_row(form.email)}}
<button type="submit" class="btn btn-warning">Modifier</button>
{{ form_end(form)}}
<div class="row">
<div class="d-flex flex-column">
<a href="{{ path('profile_editPassword') }}" class="mt-2">Modifier mon mot de passe</a>
</div>
</div>
{% endblock %}
